{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    {% if product %}
    <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="320" height="320">
        <ul>
            <li>Описание: {{ product.description }}</li>
            <li>Цена: {{ product.price }} у.е.</li>
            <li>Количество: {{ product.quantity }} у.е.</li>
        </ul>
    {% else %}
    <h1>Список товаров</h1>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} - {{ product.price }}</li>
        {% empty %}
        <li>Список товаров пуст</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}