<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Store{% endblock %}</title>
</head>
<body>

    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}

    <footer>
        <br>
        {% load i18n %}
        {% now "Y" as current_year %}
        {% blocktranslate %}<p>Copyright &copy; Web Store {{ current_year }} </p>{% endblocktranslate %}
    </footer>

</body>
</html>