{% extends 'base.html' %}

{% block title %}Создание/обновление заказа{% endblock %}

{% block content %}
    {% if order %}
    <h1>Обновить заказ</h1>
    <form action="{% url 'update_order' order.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    {% else %}
        <h1>Создать заказ</h1>
        <form action="{% url 'create_order' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать заказ</button>
        </form>
    {% endif %}
{% endblock %}